---
name: Unity xref maps

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 5 * * 0' # At 05:00 on Sunday

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install DocFX
        run: dotnet tool install --global docfx

      - name: Restore
        run: dotnet restore
        working-directory: UnityXrefMaps

      - name: Build
        run: dotnet build --no-restore --configuration Release --output ${{ runner.temp }}/UnityXrefMaps
        working-directory: UnityXrefMaps

      - name: Run
        run: ${{ runner.temp }}/UnityXrefMaps/UnityXrefMaps.dll
        working-directory: UnityXrefMaps

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _site
          keep_files: true
