name: Unity xref maps

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 5 * * 0' # At 05:00 on Sunday

jobs:
  # Generate the xref maps
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x' # Latest 3.1

      - name: Install DocFX
        run: choco install -y docfx

      - name: Cache UnityCsReference
        uses: actions/cache@v2
        with:
          path: ~/UnityCsReference
          key: ${{ runner.os }}-unitycsreference
          restore-keys: |
            ${{ runner.os }}-unitycsreference

      - name: Run
        run: dotnet run

      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: _site
          path: _site

  # Deploy the generated xref maps to the gh-pages branch
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download site artifact
        uses: actions/download-artifact@v1
        with:
          name: _site

      # - name: Deploy
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_branch: gh-pages
      #     publish_dir: _site
